  <main id="main">
  	<%# <section id="tabs" class="tabs mt-5">
      <div class="container mt-5" data-aos="fade-up">
        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link show" href="#tab-10" data-bs-toggle="tab" >
              <h4 class="d-none d-lg-block">How to Apply</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-bs-toggle="tab" >
            <a class="nav-link" href="#tab-20" data-bs-toggle="tab" >
              <h4 class="d-none d-lg-block">Required Document</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" href="#tab-30" data-bs-toggle="tab" >
              <h4 class="d-none d-lg-block">Payment Process</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" href="#tab-40" data-bs-toggle="tab" >
              <h4 class="d-none d-lg-block">Useful Informations</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-10">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-5 ml-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <%= @admission.how_to_apply.html_safe%>
              <%# </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-20">
            <div class="row">
              <div class="col-lg-8 ml-4 order-2 order-lg-1 mt-5 mt-lg-0">
                <%= @admission.required_document.html_safe%>
              <%# </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-30">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <%= @admission.payment_process.html_safe%>
              <%# </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-40">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <%= @admission.useful_information.html_safe%>
            <%# </div>
          </div>
        </div>

      </div>
    </section> %>
    <%# <div class="text-center">
      <% if @admission.modality == 'online' %>
        <%# <a href="http://portal.heuc.edu.et/students/login" class="btn-get-started scrollto">LOGIN</a>
      <% end%> 
    <%# </div> %>
        <!-- ======= Marketing Headline ======= -->
    <%# <section id="cta" class="cta">
    	<div class="container-sm aos-init aos-animate " data-aos="zoom-in">
			<% @marketing.where(page_to_display: 'admission').each do |m|%>
				<%# <div class="text-center">
					<h3><%= m.headline_title%></h3>
					<%# <p><%= m.description.html_safe%></p> 
					<%# <a class="cta-btn" href="<%= m.action%>">Learn more</a> 
				<%# </div> %>
			<%# <% end %> %>
    	<%# </div> %> %>
    <%# </section> <!-- End Marketing --> %> %>

	  <section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Programs at our <%= @facuilty.name %> facuilty</h2> 
        </div>
        <section id="courses" class="courses">
          <div class="container" data-aos="fade-up">
            <div class="row">
              <% @programs.each do |pro|%>
                <div class="col-md-4 d-flex align-items-stretch">
                  <div class="card card-blog">
                    <%= image_tag pro&.photo, class: "card-img-top" %>
                    <div class="card-body d-flex flex-column">
                      <h6><span class="badge badge-secondary float-left mb-1"><%= pro.modality%></span></h6>
                      <h3 class="card-title font-weight-bold"><%= pro.program_name %></h3>
                      <p class="card-description text-justify">
                      <%= truncate(pro.overview.html_safe, length: 256)%> 
                      </p>
                      <%= link_to "Read More", program_path(pro), class: "readmore stretched-link mt-auto"%>
                    </div>
                  </div>
                </div>
              <% end %>  
            </div>
          </div>
                <div class="d-flex justify-content-center"><span><%= paginate @programs %></span></div>

        </section>
      </div>
    </section>

  </main>