<main id="main"  style="margin-top:120px;">
 
     
      <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">
        <div class="section-title mt-5">
            <h2>Our Degree Programs</h2>
        </div>

        <div class="row">
        <% Program.where(study_level: 'undergraduate').each  do |pro|%>
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="card card-blog">
                <%= image_tag pro&.photo, class: "card-img-top" %>
              <div class="card-body d-flex flex-column">
                <h6><span class="badge badge-secondary float-left mb-1"><%= pro.modality%></span></h6>
                <h3 class="card-title font-weight-bold"><%= pro.program_name %></h3>
                <p class="card-description text-justify">
                <%= pro.overview.truncate(256).html_safe%> 
                </p>
                <%= link_to "Read More", program_path(pro), class: "readmore stretched-link mt-auto"%>

              </div>
            </div>
          </div>
        <% end %>  
        </div>
      </div>
      </section>
    

 
      <div class="section-title">
        <h2>Our Master Programs</h2>
      </div>
      <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">
      <div class="row">
      <% Program.where(study_level: 'graduate').each  do |pro|%>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card card-blog">
            <%= image_tag pro&.photo, class: "card-img-top" %>
            <div class="card-body d-flex flex-column">
              <h6><span class="badge badge-secondary float-left mb-1"><%= pro.modality%></span></h6>
              <h3 class="card-title font-weight-bold"><%= pro.program_name %></h3>
              <p class="card-description text-justify">
              <%= pro.overview.truncate(256).html_safe%> 
              </p>
              <%= link_to "Read More", program_path(pro.id), class: "readmore stretched-link mt-auto"%>

            </div>
          </div>
        </div>
      <% end %>  
      </div>
      </div>
    </section>
    <!-- End Courses Section -->

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-5 mr-5 ">
					<%= simple_form_for(VisitorComment.new, url: visitor_comments_path, html: { class: 'php-email-form'}) do |f| %>
						<div class="form-row">
    						<div class="col form-group">
								<%= f.input :fullname, class: "form-control"%>
    							<div class="validate"></div>
    						</div>
    						<div class="col form-group">
								<%= f.input :category, collection: ["testimonial", "comment", "review"], class: "form-control"%>
    							<div class="validate"></div>
    						</div>
    					</div>
    					<div class="form-group">
							<%= f.input :subject, class: "form-control"%>
    						<div class="validate"></div>
    					</div>
    					<div class="form-group">
							<%= f.input :message, class: "form-control", type: 'text'%>
    						<div class="validate"></div>
    					</div>
    					<div class="mb-3">
    						<div class="loading">Loading</div>
    						<div class="error-message"></div>
    						<div class="sent-message">Your message has been sent. Thank you!</div>
    					</div>
						<%= f.submit 'Send Message', class: 'btn btn-primary'%>
    					<% end %>
          </div>

          <div class="col-lg-5 ml-5">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Ethiopia Addis Ababa, Asmara Road</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@heuc.edu.et<br>contact@heuc.edu.et</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+251-11-6-460954<br>+251-11-6-478965</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section> <!-- End contact Section -->
  </main>