
 <main id="main">

  <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3><%= @programs.program_name %></h3>
          <p><%= @programs.overview %></p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <%= image_tag @programs.photo, class: "img-fluid" %>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3><%= @programs.modality %> <%= @programs.study_level %></h3>
            <p>
              <%= @programs.program_description.html_safe %>
            </p>
          </div>
        </div>

      </div>
	
</section> <!-- End Marketing -->
	
</main>