<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <main id="main">

  <section id="blog" class="blog-mf sect-pt4 route mt-5">
      <div class="container">
      <div class="pl-5 w-50 pb-2" style='margin-left:300px;'>
      <%= search_form_for(@search, html: { class: "input-group form-sm form-1" }) do |f| %>
      <%= f.search_field :fullname_cont, class: "form-control my-0 py-1",placeholder: "Search by student fullname "   %>
        <div class="input-group-prepend bg-primary">
          <%= f.submit%>
        </div>
      <% end %>
      </div>

        <div class="row">
        <% @almunis&.each do |almuni| %>
          <div class="col-md-4 mt-3">
            <div class="card card-blog">
              <div class="card-img">
                <a href=""><%= link_to image_tag(almuni.photo, class: "img-fluid"), almuni.photo %></a>
              </div>
              <div class="card-body">
                <h3 class="card-title"><a href=""><%= almuni.fullname%></a></h3>
                <span ><strong>Modality:- </strong> <%= almuni.modality%></span><br>
                <span ><strong>Study level:- </strong><%= almuni.study_level%></span><br>
                <span ><strong>Program:- </strong><%= almuni.program_name%> </span><br>
                <span ><strong>Graduation Date:- </strong><%= almuni.graduation_date.strftime("%b %d, %Y")%> </span><br>
                <%= image_tag(almuni.qr_code, size: "50x50") if almuni.qr_code.attached? %>
              </div>
            </div>
          </div>
        <% end %>  
        </div>
      </div>
    </section>

    <!-- ======= Marketing Headline ======= -->
    <section id="cta" class="cta">
      <div class="container aos-init aos-animate " data-aos="zoom-in">
        <% @marketing.where(page_to_display: 'almunis').each do |m|%>
          <div class="text-center">
            <h3><%= m.headline_title%></h3>
            <p><%= m.description%></p>
            <a class="cta-btn" href="<%= m.action%>">Learn more</a>
          </div>
        <% end %>
      </div>
    </section> <!-- End Marketing -->
    
  </main>