    <section id="recent-blog-posts" class="recent-blog-posts">

    	<div class="container aos-init aos-animate" data-aos="fade-up">

    		<header class="section-header">
    			<h2>Latest News & Events</h2>
    		</header>
    		<div class="row">
          <% if @news != nil %>
            <% @news.each do |n|%>
              <div class="col-lg-4">
                <div class="post-box">
                  <div class="post-img"><%= image_tag n.photo %></div>
                  <span class="post-date"><%= n.created_at%></span>
                  <h3 class="post-title"><%= n.news_title %></h3>
                  <p><%= n.overview%></p>
                  <%= link_to "Read More", news_path(n.id), class: "readmore stretched-link mt-auto"%>
                </div>
              </div>
            <% end %>
          <% end %>
    		</div>

    	</div>

    </section>