  <main id="main mt-5">

    <section id="blog" class="blog mt-5">
      <div class="container" data-aos="fade-up">
        <div class="row mt-5">
          <div class="col-lg-7 entries">
            <article class="entry">
              <h2 class="entry-title">
                <div style= "color :#0975b8"><%= @news.overview.html_safe%></div>
              </h2>
			        <br>
			        <div class="entry-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href=""><%= @news.published_by%></a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="2020-01-01"><%= @news.created_at%></time></a></li>               
                </ul>
              </div>
              <div class="entry-content">
                <p><%= @news.body.html_safe%></p>  
              </div>
            </article>
          </div>

          <div class="col-lg-5 entries mt-5">
            <%= image_tag @news.photo, class: "img-fluid" %>
          </div>

        </div>

      </div>
    </section>
    </main>

