  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>HU College</span></h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
      <div class="d-flex">
        <a href="https://sis.yic.edu.et/students/sign_up" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section>

   <main id="main">
	<section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h3>Our <span>Admission Types</span></h3>
		  <p>We have more than <%= Time.now.year - @college.establishment_date.year%> expriance on education sector. currently we have <%= @college.number_of_prorgam%> number of programs</p>
        </div>
        <div class="row">
			<% @admissions.each do |admission| %>
				<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
					<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
						<h4 class="title"><a href="admissions/<%= admission.id%>"><%= admission.admission_name %></a></h4>
           		    	<p class="description"><%= admission.modality %> <%= admission.study_level%></p>
					</div>
				</div>
			<% end %>     
        </div>
      </div>
    </section>

   	<section id="cta" class="cta" data-aos="zoom-in" data-aos-delay="100">
   		<div class="container aos-init aos-animate " data-aos="zoom-in">
			<% @marketing.where(page_to_display: 'home').each do |m|%>
				<div class="text-center">
					<h3><%= m.headline_title%></h3>
					<p><%= m.description%></p>
					<a class="cta-btn" href="<%= m.action%>">Learn more</a>
				</div>
			<% end %>
   		</div>
   	</section>

	<section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Programs</h2>
          <h3>Check our <span>Our Degree Program</span></h3>
        </div>
        <div class="row">
			<%Program.where(study_level: 'undergraduate').each do |pro|%>
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<h4><a href=""><%= pro.program_name%></a></h4>
						<p><%= pro.program_description%></p>
						<%= link_to "Read More", program_path(pro.id), class: "readmore stretched-link mt-auto"%>
					</div>
				</div>
			<% end %>
        </div>
      </div>
    </section>

	<section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h3>Check our <span>Our Masters Program</span></h3>
          </div>
        <div class="row">
			<%Program.where(study_level: 'graduate').each do |pro|%>
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<h4><a href=""><%= pro.program_name%></a></h4>
						<p><%= pro.program_description%></p>
						<%= link_to "Read More", program_path(pro.id), class: "readmore stretched-link mt-auto"%>
					</div>
				</div>
			<% end %>
        </div>
      </div>
    </section>

	<section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Find Out More <span>About Us</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-10 pl-3" data-aos="fade-right" data-aos-delay="100">
   			<p class="fst-italic">
            	<h3><%= Time.now.year - @college.establishment_date.year %> Years Of Academic Services</h3>
   				<%= @college.overview %>
   			</p>
          </div>
		  <div class="row">
			<div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
				<h3 class="pl-5">Mission</h3>
				<p class="fst-italic">
					<%= @college.mission.html_safe%>
				</p>
			</div>

			<div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
				<h3>Vision</h3>
				<p class="fst-italic">
					<%= @college.vision.html_safe%>
				</p>
          	</div>
		  </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <section id="recent-blog-posts" class="recent-blog-posts">

    	<div class="container aos-init aos-animate" data-aos="fade-up">

    		<header class="section-header">
    			<h2>Latest News & Events</h2>
    		</header>
    		<div class="row">
    			<% @news.each do |n|%>
					<div class="col-lg-4">
					<div class="post-box">
						<div class="post-img"><%= image_tag n.photo %></div>
						<span class="post-date"><%= n.created_at%></span>
						<h3 class="post-title"><%= n.news_title %></h3>
						<p><%= n.overview%></p>
						<a href="news.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
					</div>
					</div>
				<% end %>
    		</div>

    	</div>

    </section>

    <!-- ======= Testimonials Section ======= -->
	<section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">
	    	<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
    			<div class="col-xl-10">
    				<div class="owl-carousel testimonials-carousel">
						<% @comment.where(display_on_home_page: true).each do |c|%>
							<div class="testimonial-wrap">
								<div class="testimonial-item">
								<h3><%= c.fullname%></h3>
								<h4>Ceo &amp; Founder</h4>
								<p>
								<i class="bx bxs-quote-alt-left quote-icon-left"></i>
								<%= c.message%>
								<i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								</div>
							</div>
						<% end %>
    				</div>
    			</div>
    		</div>
      </div>
    </section>


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>contact@example.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->


