  <main id="main">
  	<section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link show" href="#tab-10">
              <h4 class="d-none d-lg-block">How to Apply</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" href="#tab-20">
              <h4 class="d-none d-lg-block">Required Document</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" href="#tab-30">
              <h4 class="d-none d-lg-block">Payment Process</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" href="#tab-40">
              <h4 class="d-none d-lg-block">Useful Informations</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-10">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-5 ml-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <%= @admission.how_to_apply.html_safe%>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-20">
            <div class="row">
              <div class="col-lg-8 ml-4 order-2 order-lg-1 mt-5 mt-lg-0">
                <%= @admission.required_document.html_safe%>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-30">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <%= @admission.payment_process.html_safe%>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-40">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <%= @admission.useful_information.html_safe%>
            </div>
          </div>
        </div>

      </div>
    </section>

	<section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h3>Check our <%= @admission.admission_name%></h3>
        </div>
        <div class="row">
			<%Program.where(study_level: @admission.study_level).where(modality: @admission.modality).each do |pro|%>
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<h4><a href=""><%= pro.program_name%></a></h4>
						<p><%= pro.program_description%></p>
						<%= link_to "Read More", program_path(pro.id), class: "readmore stretched-link mt-auto"%>
					</div>
				</div>
			<% end %>
        </div>
      </div>
    </section>

    <!-- ======= Marketing Headline ======= -->
    <section id="cta" class="cta">
    	<div class="container aos-init aos-animate " data-aos="zoom-in">
			<% @marketing.where(page_to_display: 'admission').each do |m|%>
				<div class="text-center">
					<h3><%= m.headline_title%></h3>
					<p><%= m.description%></p>
					<a class="cta-btn" href="<%= m.action%>">Learn more</a>
				</div>
			<% end %>
    	</div>
    </section> <!-- End Marketing -->
  </main>
