<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container-fluid" style="width:75%">
      <div class="row" >

        <div class="col-lg-3 col-md-6 footer-contact">
           <h3 class="logo mr-auto"><a href=""><%=image_tag "hpbg.jpg", size: "150x57" %></a></h3>

          <p>
            Asmara Street <br>
            Addis Ababa, Ethiopia<br><br>
            <strong>Phone:</strong> +251-906505050<br>
            <strong>Email:</strong> info@heuc.edu.et<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="accreditation">Accreditation</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Office</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="programs">Programs</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Admission</h4>
          <ul>
            <% Admission.all.each do |admission| %>
              <li><i class="bx bx-chevron-right"></i> <a href="admissions/<%= admission.id%>"><%= admission.modality%></a></li>
            <% end %>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links mt-3">
           
            <a href="#" class="twitter"><%= icon("twitter", class: "bx bxl-twitter fill") %></a>
            <a href="#" ><%= icon("facebook", class: "bx bx-facebook")%></a>
            <a href="#" ><%= icon("linkedin", class: "bx bx-linkedin")%></a>
            <a href="#" ><%= icon("instagram", class: "bx bx-instagram")%></a>
 
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
     <div class="row" >
        <div class="mr-md-auto text-center text-md-left">
            <div class="col-lg-12 col-md-6 footer-links">
        
              <div class="copyright">
                &copy; Copyright <span>Hope Enterprise University College</span>. All Rights Reserved. <strong> DESIGNED BY : </strong>  <a href="https://yesuitsolution.com/" class='text-warning'>Yesu IT Solution PLC</a>
              </div>

              
            </div>
            <div class="col-lg-12 col-md-12 footer-links">

            </div>
      </div>
    <div>
</div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>