  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href=""><%=image_tag "hpbg.jpg"%></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Progams", programs_path%></li>
          <li><%= link_to "About", about_path%></li>
          <li><%= link_to "Almunis", almunis_path%></li>
          <li><%= link_to "News", news_index_path%></li>
          <li class="dropdown"><a href="#"><span><%= link_to "Admission", "#"%></span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                <% Admission.all.each do |admission|%>
                  <li><%= link_to("#{admission.admission_name}", {controller: "admissions", action: "show", id: admission.id} )%></li>
                <% end %>
                </ul>
          </li>
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="">Apply Now</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->