<!--  <head>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href=""><%=image_tag "hpbg.jpg"%></a></h1>
       Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    
 <!--     <nav id="navbar" class="navbar">
        <ul>
          <li><%= link_to "Home", root_path, :class => ("active" if request.path==root_path)%></li>
          <li><%= link_to "Progams", programs_path, :class => current_class?(programs_path)%></li>
          <li class="dropdown"><a href=""><%= link_to "Facuilties", "", :class => current_class?("facuilty")%><i class="bi bi-chevron-down"></i></a>
                <ul>
                <% Facuilty.all.each do |facuilties|%>
                  <li><%= link_to("#{facuilties.name}", {controller: "facuilty", action: "show", id: facuilties.id} )%></li>
                <% end %>
                </ul>
          </li>
          <li><%= link_to "Accreditation", accreditation_path, :class => current_class?(accreditation_path)%></li>
          <li><%= link_to "Almunis", almunis_path, :class => current_class?(almunis_path)%></li>
          <li><%= link_to "Offices", staffs_path, :class => current_class?(staffs_path)%></li>
          <li><%= link_to "News", news_index_path, :class => current_class?(news_index_path)%></li>
          <li><%= link_to "About", about_path, :class => current_class?(about_path)%></li>
          <%# <li class="dropdown"><a href="#"><%= link_to "Admission", "#"%>
                <%# <ul> %>
                <%# <% Admission.all.each do |admission|%>
                  <%# <li><%= link_to("#{admission.admission_name}", {controller: "admissions", action: "show", id: admission.id} )%>
                <%# <% end %>
                <%# </ul> %>
          <%# </li> %>
          <li><%= link_to "Contact", contact_path, :class => current_class?(contact_path)%></li>
          <li><%= link_to("E-learning", "http://lms.heuc.edu.et")%></li>
          <li><a class="getstarted scrollto" href="http://portal.heuc.edu.et/students/sign_up">Apply Now</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav> .navbar -->
  <!--  </div>
  </header><!- End Header -->
  <!-- End Header -->
<header id="header"class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white" style="height:40px;">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left pt-2">
          <a class="text-color mr-3" href="callto:+2510118888863"><strong>CALL</strong> 011 8 88 88 63</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#">notice</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#">research</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#">SCHOLARSHIP</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#loginModal">login</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#signupModal">register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar --><hr>
  <div class="navigation w-100 ">
  <div class="container d-flex align-items-center ml-0">
    <nav class="navbar navbar-expand-lg navbar-dark p-0 ">
      <%= link_to "/" do%>
        <%=image_tag "hpbg.jpg" ,{:style=>'height:100px;'}%>
      <%end%>
      <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, :class => ("active" if request.path==root_path)%>
          </li>
          <li class="nav-item @@courses">
            <%= link_to "Programs", programs_path, :class => current_class?(programs_path)%>
          </li>
          <li class="dropdown"><a href=""><%= link_to "Facuilties", "", :class => current_class?("facuilty")%><i class="bi bi-chevron-down"></i></a>
                <ul>
                <% Facuilty.all.each do |facuilties|%>
                  <li><%= link_to("#{facuilties.name}", {controller: "facuilty", action: "show", id: facuilties.id} )%></li>
                <% end %>
                </ul>
          </li>
          <li><%= link_to "Accreditation", accreditation_path, :class => current_class?(accreditation_path)%></li>
          <li><%= link_to "Almunis", almunis_path, :class => current_class?(almunis_path)%></li>
          <li class="nav-item @@courses">
            <%= link_to "Office", staffs_path, :class => current_class?(staffs_path)%>
          </li>
          <li class="nav-item @@blog">
            <%= link_to "News", news_index_path, :class => current_class?(news_index_path)%>
          </li>
          <li class="nav-item @@about">
            <%= link_to "About", about_path, :class => current_class?(about_path)%>
          </li>
          <li class="nav-item @@contact">
            <%= link_to "Contact us", contact_path, :class => current_class?(contact_path)%>
          </li>
          <li><%= link_to("E-learning", "http://lms.heuc.edu.et")%></li>
          <li><a class="getstarted scrollto" href="http://portal.heuc.edu.et/students/sign_up">Apply Now</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
  </header>